// Colors
$whiteColor: #ffffff;
$mainColor: #0A093D;
$textColor: #656464;
$accentColor: #217BF4;

// Burger Menu
// $burgerBreakpoint: $breakpoint992;
$burgerBgColor: lighten($accentColor, 20);
$burgerColor: #131418;
$burgerActiveColor: #fefefe;

// Fonts
$fontMain: 'Inter', sans-serif;
